/* ---------------------------- *\
	General Styling
\* ---------------------------- */

html,
body {
	padding:0px!important;
	margin:0px!important;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

p {
	margin: 20px 0;
	line-height: 24px;
}

.hr {
	border-bottom: 3px solid #f50;
	width: 100px;
}

.container {
	width:80%;
	margin: 100px auto;
}

footer {
	background: #eee;
	text-align: center;
	padding: 10px;
}

/* Demo applications for tutorials */
.demo {
	margin: 30px 0px;
	padding: 20px;
	border: 1px solid #eee;
	border-radius: 4px;
}

.search-result {
	background: #eee;
	padding: 10px;
	margin: 15px;
	border-radius: 4px;
}

/* ---------------------------- *\
	Main Navigtation
\* ---------------------------- */
#navbar {
	height: 60px;
	width: 100%;
	position: fixed;
	top:0;
	background-color: transparent;
}

.home-btn a {
	color: #444;
	padding: 10px 15px;
	margin-right: 10px;
	margin-top: 10px;
	float: right;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
	clear: both;
}

.home-btn a:hover {
	background-color: #eee;
}

.fa.fa-home {
	  font-size: 1.15em;
}

.sc-link a {
	background-color: #f50;
	color: #fff;
	padding: 10px;
	border-radius: 4px;
}

li.tutorials {
	background-color: #4c2f5f;
	color: #fff;
	padding: 10px;
	border-radius: 4px;
}

nav ul {
	list-style: none;
	float: right;
	margin: 0;
	padding-left: 0;
}

nav li {
	display: inline;
	font-size: 1em;
	line-height: 60px;
  	font-weight: 100;
  	margin-right: 10px;
}

nav li a {
	text-decoration: none;
}

/* ---------------------------- *\
	Drop-down Navigtation
\* ---------------------------- */
nav ul li.tutorials:hover div.secondary, 
div.secondary li:hover {
	display: block;
}

div.secondary {
	position: absolute;
	margin: 0;
	border-radius: 4px;
	padding: 0;
	font-size: 1em;
	background-color: transparent;
	margin-top: -10px;
	display: none;
}

div.secondary ul {
	padding-left: 0;
	border: 1px solid #ddd;
	margin-top: 10px;
	background-color: #fff;
	border-radius: 4px;
}

.secondary li {
	display: block;
	margin-right: 0;
	border-top: 1px solid #ddd;;
}

.secondary li:first-child {
	border-top: none;
}

.secondary li:hover {
	background-color: #eee;
}

.secondary li a {
	padding: 10px;
	background-color: transparent;
	color: #444;
	margin: 0;
}

//Jeesoo added the following on June 30, 2015
.code_block{
    margin: 0 auto;
    border: thin #ddd;
    background-color: #eee;    
}

//phil code block, code element with pre
code, pre{
    background:#CECECE;
    padding: 2px 3px;
}

/* Code highlighting styles */
/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  background: white;
  padding: 0.4em;
  color: #333333;
  overflow-x: auto;
  -webkit-text-size-adjust: none;
  font-size: 1.25em;
  border-left: 3px solid #eee;
}

.hljs-comment,
.bash .hljs-shebang,
.java .hljs-javadoc,
.javascript .hljs-javadoc,
.rust .hljs-preprocessor {
  color: #969896;
}

.hljs-string,
.apache .hljs-sqbracket,
.coffeescript .hljs-subst,
.coffeescript .hljs-regexp,
.cpp .hljs-preprocessor,
.c .hljs-preprocessor,
.javascript .hljs-regexp,
.json .hljs-attribute,
.makefile .hljs-variable,
.markdown .hljs-value,
.markdown .hljs-link_label,
.markdown .hljs-strong,
.markdown .hljs-emphasis,
.markdown .hljs-blockquote,
.nginx .hljs-regexp,
.nginx .hljs-number,
.objectivec .hljs-preprocessor .hljs-title,
.perl .hljs-regexp,
.php .hljs-regexp,
.xml .hljs-value,
.less .hljs-built_in,
.scss .hljs-built_in {
  color: #df5000;
}

.hljs-keyword,
.css .hljs-at_rule,
.css .hljs-important,
.http .hljs-request,
.ini .hljs-setting,
.haskell .hljs-type,
.java .hljs-javadoctag,
.javascript .hljs-tag,
.javascript .hljs-javadoctag,
.nginx .hljs-title,
.objectivec .hljs-preprocessor,
.php .hljs-phpdoc,
.sql .hljs-built_in,
.less .hljs-tag,
.less .hljs-at_rule,
.scss .hljs-tag,
.scss .hljs-at_rule,
.scss .hljs-important,
.stylus .hljs-at_rule,
.go .hljs-typename,
.swift .hljs-preprocessor {
  color: #a71d5d;
}

.apache .hljs-common,
.apache .hljs-cbracket,
.apache .hljs-keyword,
.bash .hljs-literal,
.bash .hljs-built_in,
.coffeescript .hljs-literal,
.coffeescript .hljs-built_in,
.coffeescript .hljs-number,
.cpp .hljs-number,
.cpp .hljs-built_in,
.c .hljs-number,
.c .hljs-built_in,
.cs .hljs-number,
.cs .hljs-built_in,
.css .hljs-attribute,
.css .hljs-hexcolor,
.css .hljs-number,
.css .hljs-function,
.haskell .hljs-number,
.http .hljs-literal,
.http .hljs-attribute,
.java .hljs-number,
.javascript .hljs-built_in,
.javascript .hljs-literal,
.javascript .hljs-number,
.json .hljs-number,
.makefile .hljs-keyword,
.markdown .hljs-link_reference,
.nginx .hljs-built_in,
.objectivec .hljs-literal,
.objectivec .hljs-number,
.objectivec .hljs-built_in,
.php .hljs-literal,
.php .hljs-number,
.python .hljs-number,
.ruby .hljs-prompt,
.ruby .hljs-constant,
.ruby .hljs-number,
.ruby .hljs-subst .hljs-keyword,
.ruby .hljs-symbol,
.rust .hljs-number,
.sql .hljs-number,
.puppet .hljs-function,
.less .hljs-number,
.less .hljs-hexcolor,
.less .hljs-function,
.less .hljs-attribute,
.scss .hljs-preprocessor,
.scss .hljs-number,
.scss .hljs-hexcolor,
.scss .hljs-function,
.scss .hljs-attribute,
.stylus .hljs-number,
.stylus .hljs-hexcolor,
.stylus .hljs-attribute,
.stylus .hljs-params,
.go .hljs-built_in,
.go .hljs-constant,
.swift .hljs-built_in,
.swift .hljs-number {
  color: #0086b3;
}

.apache .hljs-tag,
.cs .hljs-xmlDocTag,
.css .hljs-tag,
.xml .hljs-title,
.stylus .hljs-tag {
  color: #63a35c;
}

.bash .hljs-variable,
.cs .hljs-preprocessor,
.cs .hljs-preprocessor .hljs-keyword,
.css .hljs-attr_selector,
.css .hljs-value,
.ini .hljs-value,
.ini .hljs-keyword,
.javascript .hljs-tag .hljs-title,
.makefile .hljs-constant,
.nginx .hljs-variable,
.xml .hljs-tag,
.scss .hljs-variable {
  color: #333333;
}

.bash .hljs-title,
.coffeescript .hljs-title,
.cpp .hljs-title,
.c .hljs-title,
.cs .hljs-title,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo,
.ini .hljs-title,
.haskell .hljs-title,
.haskell .hljs-pragma,
.java .hljs-title,
.javascript .hljs-title,
.makefile .hljs-title,
.objectivec .hljs-title,
.perl .hljs-sub,
.php .hljs-title,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-parent,
.ruby .hljs-title,
.rust .hljs-title,
.xml .hljs-attribute,
.puppet .hljs-title,
.less .hljs-id,
.less .hljs-pseudo,
.less .hljs-class,
.scss .hljs-id,
.scss .hljs-pseudo,
.scss .hljs-class,
.stylus .hljs-class,
.stylus .hljs-id,
.stylus .hljs-pseudo,
.stylus .hljs-title,
.swift .hljs-title,
.diff .hljs-chunk {
  color: #795da3;
}

.coffeescript .hljs-reserved,
.coffeescript .hljs-attribute {
  color: #1d3e81;
}

.diff .hljs-chunk {
  font-weight: bold;
}

.diff .hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.diff .hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.markdown .hljs-link_url {
  text-decoration: underline;
}
